<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <br>
      <h1>Inicio sección</h1>
      <br>
      <div class="fadeIn first">
        <img src="../../assets/img/user.png" id="icon" alt="User Icon" />
      </div>
      <form [formGroup]= "formLogin" (submit)="login(formLogin.value)">
      <div >
        <input type="text" formControlName="usuario" id="usuario" class="fadeIn second"  placeholder="Usuario">
        <input type="password" formControlName="contrasena" id="contraseña"  class="fadeIn third"  placeholder="Contraseña" >
        <input type="submit" class="fadeIn fourth" value="Inicio">
      </div>
      </form>
      <div id="formFooter">
        <a class="underlineHover" href="#" >¿Se te olvidó tu contraseña?</a>
      </div>
    </div>
  </div>
  


  
  

</body>
</html>



